{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>
    {{ form(updateProfilForm) }}

    <button type="submit" class="btn">Register</button>

{% endblock %}
