{% extends 'base.html.twig' %}
{% block title %}
    Sortir : Organiser une sortie
{% endblock %}

{% block body %}
    <h1>Organiser une sortie</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi at atque autem,
        ea enim inventore laborum maiores, numquam odit officia optio quo voluptatum.
        Aperiam eaque neque rem sint tempora?</p>
{% endblock %}