@import "~bootstrap/dist/css/bootstrap.min.css";
h1{
 text-align: center;
}
body {
    background-color: skyblue;
}

th {
    border: solid 1px;
}

td {
    border: solid 1px;
}

table {
    border: solid 1px;
}

